body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 5px 7px;
  width: 20%;
}

th {
  padding: 5px 7px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  background-color: rgb(117, 201, 250);
  text-align: left;
}

td {
  background-color: rgb(205, 235, 253);
  font-size: 1.2rem;
}

h2 {
  margin-left: 10px;
}

.input {
  padding: 5px 7px;
  margin-left: 10px;
  font-size: 1.2rem;
  outline: none;
}

button {
  padding: 5px 7px;
  margin-left: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

td.changed {
  background-color: red;
}
